/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #6e9c95
}

.dashboard {
  display: flex;
}

.content {
  flex: 1;
}

/* NavBar.css */

.navbar {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  background-color: #51caba; /* Dark background color */
  padding: 10px; /* Add padding */
  height: 100vh;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between items */
  color: #fff; /* Text color */
}

.nav-item span {
  margin-left: 5px; /* Add spacing between icon and text */
}

.nav-item.active {
  color: #ffc107; /* Change text color for active NavLink */
}

/* HomePage.css */

.home-page {
  text-align: center; /* Center align content */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  background-color: #6e9c95; /* Light background color */
  color: #333; /* Text color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page h1 {
  font-size: 36px; /* Increase font size for heading */
  /* margin-bottom: 20px; /* Add spacing below heading */
} 

.home-page p {
  font-size: 18px; /* Increase font size for paragraph */
}

.cocktail-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cocktail-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cocktail-card h3 {
  margin-top: 0;
}

.cocktail-card ul {
  padding: 0;
  margin-top: 10px;
}

.cocktail-card li {
  list-style-type: none;
}
