/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #6e9c95
}

.dashboard {
  display: flex;
}

.content {
  flex: 1;
}

/* NavBar.css */

.navbar {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  background-color: #6e9c95; /* Dark background color */
  padding: 10px; /* Add padding */
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between items */
  color: #fff; /* Text color */
}

.nav-item span {
  margin-left: 5px; /* Add spacing between icon and text */
}

.nav-item.active {
  color: #ffc107; /* Change text color for active NavLink */
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px; /* Adjust the margin here */
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #ffc107;
}

.navbar a .icon {
  margin-right: 5px;
}

.navbar a.active {
  color: #ffc107;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: column; /* Arrange links vertically */
  gap: 1rem; /* To add space between each link */
}

.links a {
  text-decoration: none;
  color: #333; /* Example color, you can adjust as needed */
}

.links a.active {
  color: #ffc107; /* Example color for active link, you can adjust as needed */
}
/* HomePage.css */

.home-page {
  text-align: center; /* Center align content */
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  background-color: black; /* Light background color */
  color: white; /* Text color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  background-image: url("/two-glasses-cocktails-with-straw-copy-space.png");
  background-position: center;
}

.home-page h1 {
  margin-top: 20px;
  font-size: 36px; /* Increase font size for heading */
  /* margin-bottom: 20px; /* Add spacing below heading */
 
} 

.home-page p {
  font-size: 18px; /* Increase font size for paragraph */
}

.cocktail-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cocktail-card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cocktail-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.cocktail-card h3 {
  margin-top: 0;
}

.cocktail-card ul {
  padding: 0;
  margin-top: 10px;
}

.cocktail-card li {
  list-style-type: none;
}


/* CreateCocktailForm.css */
.form-container {
  background-color: #fff;
  padding: 10px; /* Decrease padding */
  border-radius: 4px; /* Smaller border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Smaller shadow */
  max-width: 800px;
  margin-top: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@keyframes borderAnimation {
  0% {
    border-color: #6e9c95;
  }
  50% {
    border-color: rgb(239, 245, 242);
  }
  100% {
    border-color: #6e9c95;
  }
}

/* Apply animation to form input fields */
.form-input {
  width: calc(100% - 10px); /* Adjust input width */
  padding: 6px; /* Decrease padding */
  margin-bottom: 8px; /* Decrease margin */
  border: 1px solid #ccc;
  border-radius: 3px; /* Smaller border radius */
  font-size: 12px; /* Smaller font size */

  /* Applies animation properties */
  animation: borderAnimation 3s infinite;
  transition: border-color 0.3s ease-in-out; /* Add transition for smooth change */
}

.form-input:focus {
  outline: none;
  border-color: #51caba;
}

.form-title {
  font-size: 18px; /* Smaller font size */
  margin-bottom: 10px; /* Decrease margin */
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 6px; /* Decrease margin */
  color: #333;
}


.form-button {
  width: calc(100% - 20px); /* Adjust button width */
  padding: 8px; /* Decrease padding */
  background-color: #51caba;
  border: none;
  border-radius: 3px; /* Smaller border radius */
  color: #fff;
  font-size: 12px; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 11px;
}

.form-button:hover {
  background-color: #4ca9a2;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-bar .search-icon {
  margin-left: -35px;
  color: #888;
}
